#!/usr/bin/make -f
# export DH_VERBOSE = 1

export ROOT = debian/tmp
export APP_FOLDER = $(ROOT)/usr/lib/helm

export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export RELEASE = $(shell echo $(DEB_VERSION) | cut -f 1 -d '-')
export REVISION = $(shell echo $(DEB_VERSION) | cut -f 4 -d '.')
export CHART_VERSION = $(RELEASE).$(REVISION)

%:
	dh $@

override_dh_auto_build:
	# Image tag substitution defaults
	$(eval PLATFORM_REGISTRY ?= docker.io/starlingx)
	$(eval OS ?= debian)
	$(eval OS_CODENAME ?= bullseye)
	$(eval OS_ARCH ?= amd64)
	$(eval BUILD_STREAM ?= stable)
	$(eval IMAGE_PREFIX ?= master)
	$(eval IMAGE_SUFFIX ?= latest)

	mkdir -p build
	# Copy ipsec-policy-agent items.
	mv Makefile ipsec-policy-agent build

	# Substitute image tags in helm chart values
	sed -i \
		-e 's|@PLATFORM_REGISTRY@|$(PLATFORM_REGISTRY)|g' \
		-e 's|@OS@|$(OS)|g' \
		-e 's|@OS_CODENAME@|$(OS_CODENAME)|g' \
		-e 's|@OS_ARCH@|$(OS_ARCH)|g' \
		-e 's|@BUILD_STREAM@|$(BUILD_STREAM)|g' \
		-e 's|@IMAGE_PREFIX@|$(IMAGE_PREFIX)|g' \
		-e 's|@IMAGE_SUFFIX@|$(IMAGE_SUFFIX)|g' \
		build/ipsec-policy-agent/values.yaml

	# Build the chart
	cd build && make CHART_VERSION=$(CHART_VERSION) ipsec-policy-agent

override_dh_auto_install:
	install -d -m 755 $(APP_FOLDER)
	install -p -D -m 755 build/ipsec-policy-agent*.tgz $(APP_FOLDER)

override_dh_auto_test:
