Source: stx-ipsec-policy-operator
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm,
 ipsec-policy-agent-helm,
 ipsec-policy-manager-helm,
 python3-k8sapp-ipsec-policy-operator,
 python3-k8sapp-ipsec-policy-operator-wheels,
 build-info
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-ipsec-policy-operator
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX IPsec Policy Operator Helm Charts
